<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">
    <form class="layui-form" action="" method="post" >
        <div class="layui-form-item">
            <label class="layui-form-label">登录账号</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="login_name" lay-verify="required" autocomplete="off" placeholder="登录账号" class="layui-input" value="{{.userInfo.Name}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*登录不允许修改</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" lay-verify="phone|required" autocomplete="off" placeholder="手机号码" class="layui-input" value="{{.userInfo.Phone}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">电子邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" id="email" lay-verify="email" autocomplete="off" placeholder="电子邮箱" class="layui-input" value="{{.userInfo.Email}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">重置密码</label>
            <div class="layui-input-inline">
                <input type="radio" name="reset_pwd" value="1" title="重置">
                <input type="radio" name="reset_pwd" value="2" title="不重置" checked>
            </div>
            <div class="layui-form-mid layui-word-aux">默认密码:123456</div>
        </div>

        <div class="layui-form-item">
            <label for="role_id" class="layui-form-label">选择角色</label>
            <div class="layui-input-inline">
                <select name="role_id" id="role_id" lay-search="">
                    {{range $k, $v := .roles}}
                        <option {{if eq $v.ID $.userInfo.RoleID}} selected {{end}} value="{{$v.ID}}"> {{$v.Name}}</option>
                    {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <input type="hidden" id="id" name="id" value="{{.userInfo.ID}}">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{{ define "user/upsert-script"}}
<script>
    var $;
    layui.config({
        base : "js/"
    }).use(['form','element','layer','jquery'],function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.jquery;
        var role_ids_str = "{{.admin.role_ids}}"
        var role_ids = role_ids_str.split(",");

        form.on('checkbox(role_ids)', function(data){
            if(data.elem.checked==true){
                role_ids.push(data.value)
            }else{
                $.each(role_ids,function(index,item){
                    // index是索引值（即下标）   item是每次遍历得到的值；
                    if(item==data.value){
                        role_ids.splice(index,1);
                    }
                });
            }
            $("#roleids").val(role_ids.join(","));
        });

        form.on('submit(sub)', function(data){
            var form_data = $("form").serialize();
            $.post('/user/upsert', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功",{icon: 1},function () {
                        window.parent.layer.closeAll();
                        window.parent.location.reload();
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false;
        });

        form.render();
    });
</script>
{{end}}