<div style="padding: 20px 10px;">
    <form class="layui-form" action="" method="post" >
        <div class="layui-form-item">
            <label class="layui-form-label" for="sid">服务器</label>
            <div class="layui-input-inline">
                <select name="sid" id="sid" lay-verify="required" lay-search="" style="width: 100%">
                    {{range $index,$elem := .serverList}}
                        <option value="{{$elem.id}}" {{if eq $elem.id $.sid}} selected {{end}}>{{$elem.nm}}</option>
                    {{end}}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动名</label>
            <div class="layui-input-inline">
                <select name="activity_id" id="role_id" lay-search="">
                    {{range $k, $v := .activity_map}}
                        <option value="{{$k}}"> {{$v}}</option>
                    {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">时间范围</label>
            <div class="layui-input-inline" style="width: 40%">
                <input type="text" name="date-range" class="layui-input" id="date-range" placeholder=" - " value="{{.date_range}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{{ define "season/upsert-script"}}
    <script>
        var $;
        layui.config({
            base : "js/"
        }).use(['form','element','layer','jquery','laydate'],function(){
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            var $ = layui.jquery;
            var laydate = layui.laydate;
            form.on('submit(sub)', function(data){
                var form_data = data.field;
                $.post('/season/upsert', form_data, function (out) {
                    if (out.status == 0) {
                        layer.msg("操作成功",{icon: 1},function () {
                            window.parent.layer.closeAll();
                            window.parent.location.reload();
                        })
                    } else {
                        layer.msg(out.msg)
                    }
                }, "json");
                return false;
            });

            //日期时间范围
            laydate.render({
                elem: '#date-range'
                ,type: 'datetime'
                ,range: true
            });

            //但是，如果你的HTML是动态生成的，自动渲染就会失效
            //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
            form.render();
        });
    </script>
{{end}}
