<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-warm" data-type="add">新增</button>
                        <button class="layui-btn layui-btn-normal" data-type="load">发布配置</button>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="table_list" lay-filter="table_filter">
                    </table>

                    <script type="text/html" id="bar">
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{{ define "server/csv-script"}}
    <script src="/static/xm-select/dist/xm-select.js"></script>
    <script>
        layui.use(['table'], function () {
            var table = layui.table;
            //方法级渲染
            table.render({
                elem: '#table_list'
                , url: '/server/csv'
                , cols: [[
                      {field: 'id', title: 'ID', width: 50}
                    , {field: 'stype', title: '服务器类型', width: 150}
                    , {field: 'sids', title: '服务器ID', templet: function (d) {
                            return JSON.stringify(d.sids)
                        }}
                    , {field: 'name', title: '文件名'}
                    , {fixed: 'right', width: 200, align: 'center', toolbar: '#bar'}
                ]]
                , id: 'listReload'
                , height: "full-130"
            });

            var $ = layui.$, active = {
                //新增
                add: function () {
                    layer.open({
                        type: 2,
                        shade: 0.3,
                        id: 1,
                        title: "添加新配置",
                        content: '/server/csv/upsert',
                        area: ['800px', '600px'],
                    });
                },
                //批量删除
                batchDelete: function () {
                    var checkStatus = table.checkStatus('listReload')
                        , data = checkStatus.data;
                    console.log(data);
                    var ids = "";
                    for (var i = 0, len = data.length; i < len; i++) {
                        ids += data[i].Id + ",";
                    }

                    if (ids == "") {
                        return false
                    }

                    layer.confirm('确定批量删除吗', function (index) {
                        var jsData = {'id': ids};
                        $.post('/server/csv/delete', jsData, function (out) {
                            if (out.status == 0) {
                                layer.alert('删除成功了', {icon: 1}, function (index) {
                                    layer.close(index);
                                    window.location.reload();
                                    obj.del();
                                });
                            } else {
                                layer.msg(out.msg)
                            }
                        }, "json");
                        layer.close(index);
                    });
                },
                //加载配置
                load: function () {
                    layer.confirm('确定重新加载所有配置吗', function (index) {
                        var jsData = {};
                        $.post('/server/csv/load', jsData, function (out) {
                            if (out.code == 0) {
                                layer.alert(out.msg, {icon: 1}, function (index) {
                                    layer.close(index);
                                });
                            } else {
                                layer.msg(out.msg)
                            }
                        }, "json");
                        layer.close(index);
                    });
                }
            };

            //监听工具条
            table.on('tool(table_filter)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('确定删除【' + data.id + '】么', function (index) {
                        var jsData = {'id': data.id};
                        $.post('/server/csv/delete', jsData, function (out) {
                            if (out.code == 0) {
                                layer.alert('删除成功了', {icon: 1}, function (index) {
                                    layer.close(index);
                                    window.location.reload();
                                    obj.del();
                                });
                            } else {
                                layer.msg(out.msg)
                            }
                        }, "json");
                        layer.close(index);
                    });
                }
            });

            $('.layui-form .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

        });

    </script>
{{end}}