<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn" data-type="add">新增</button>
            </div>
            <table class="layui-hide" id="table_list" lay-filter="table_filter">
            </table>
            <script type="text/html" id="bar">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>
{{ define "server/list-script"}}
<script>

    layui.use(['table'], function(){
        var table = layui.table;
        //方法级渲染
        table.render({
            elem: '#table_list'
            ,url: '/server/list'
            ,cols: [[
                // {checkbox: true, fixed: true},
                {field:'id', title: 'ID', align:'center',sort: true, width:150}
                ,{field:'nm',title: '服务器名'}
                ,{field:'ch',title: '渠道'}
                ,{field:'gip', title: '网关IP'}
                ,{field:'lip', title: 'Log服IP'}
                ,{field:'st', title: '状态'}
                ,{field:'fg', title: '是否推荐'}
                ,{field:'lv', title: '等级'}
                ,{fixed: 'right', width:200, align:'center', toolbar: '#bar'}
            ]]
            ,id: 'listReload'
            ,page: true
            ,height: "full-130"
        });

        var $ = layui.$, active = {
            reload: function(){
                table.reload('listReload', {
                    where: {
                        realName: $('#realName').val(),
                    }
                });
            },
            add: function () {
                layer.open({
                    type: 2,
                    shade: 0.3,
                    id:1,
                    title:"新增服务器信息",
                    content: '/server/upsert',
                    area:['500px','600px'],
                });
            }
        };

        //监听工具条
        table.on('tool(table_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'mail'){
                layer.open({
                    type: 2,
                    shade: 0.3,
                    id:1,
                    title:"",
                    content: '/server/mail?id='+data.id,
                    area:['800px','500px'],
                });
            } else if(obj.event === 'del'){
                layer.confirm('真的删除【'+data.nm+'】服务器么', function(index){
                    var jsData = {'id':data.id};
                    $.post('/server/delete', jsData, function (out) {
                        if (out.status == 0) {
                            layer.alert('删除成功了', {icon: 1},function(index){
                                layer.close(index);
                                window.location.reload();
                                obj.del();
                            });
                        } else {
                            layer.msg(out.message)
                        }
                    }, "json");
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    shade: 0.3,
                    id:1,
                    title:"编辑服务器信息",
                    content: '/server/upsert?id='+data.id,
                    area:['500px','600px'],
                });
            }
        });

        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
{{end}}