<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">GM发送邮件</div>
                <div class="layui-card-body" pad15>
                    <form class="layui-form" action="" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">全服</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="switch" lay-skin="switch" lay-filter="sw">
                            </div>
                        </div>
                        <div id="panel-single">
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="sid">服务器</label>
                                <div class="layui-input-inline">
                                    <select name="sid" id="sid" lay-search="" style="width: 100%">
                                        {{range $index,$elem := .serverList}}
                                            <option value="{{$elem.id}}" {{if eq $elem.id $.sid}} selected {{end}}>{{$elem.nm}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="uid">用户ID</label>
                                <div class="layui-input-block" style="width: 80%">
                                    <input type="text" name="uid" id="uid" autocomplete="off"
                                           placeholder="用户ID(支持多个|分割)" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div id="panel-all" style="display: none;">
                            <div class="layui-form-item">
                                <label class="layui-form-label">服务器</label>
                                <div class="layui-input-block">
                                    <div id="sids"></div>
                                </div>
                            </div>
                        </div>

                        <div class="attachment">
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="item_id">附件</label>
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <select name="item_ids[]" id="item_id" lay-verify="required" lay-search="">
                                            <option selected value="">直接选择或搜索选择</option>
                                            {{range $index,$elem := .items}}
                                                <option value="{{$elem.ID}}">{{$elem.Name}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" name="item_nums[]" placeholder="物品数量" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                    <div class="layui-input-inline">
                                        <button type="button" class="layui-btn layui-btn-primary attach-del"><i
                                                    class="layui-icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <button type="button" class="layui-btn-primary layui-btn add-attach">
                                <i class="layui-icon">&#xe608;</i> 添加
                            </button>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="title">标题</label>
                            <div class="layui-input-block" style="width: 80%">
                                <input type="text" name="title" id="title" lay-verify="required" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label" for="content">内容</label>
                            <div class="layui-input-block" style="width: 80%">
            <textarea name="content" id="content" lay-verify="required" placeholder="请输入内容"
                      class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input type="hidden" name="select_num" id="select_num" value="1">
                                <button class="layui-btn" lay-submit="" lay-filter="sub">发送</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{{ define "server/mail-script"}}
    <script src="/static/xm-select/dist/xm-select.js"></script>
    <script>
        layui.use(['form', 'jquery'], function () {
            var form = layui.form;
            var $ = layui.jquery;

            form.on('submit(sub)', function (data) {
                form.render('select');
                var form_data = data.field;

                layer.alert("确认提交吗", {icon: 1, time: 0, area: ['800px']}, function (index) {
                    layer.close(index);
                });

                //全服邮件
                if (form_data.hasOwnProperty("switch") === true) {
                    var sidStr = selectSid.getValue("valueStr");
                    form_data.sid = sidStr;
                    $.post('/server/mail', form_data, function (out) {
                        layer.alert(out.msg, {icon: 1, time: 0, area: ['800px']}, function (index) {
                            layer.close(index);
                            window.location.reload();
                        });
                    }, "json");

                } else {
                    $.post('/server/mail', form_data, function (out) {
                        if (out.status === 0) {
                            layer.alert(out.msg, {icon: 1, time: 0}, function (index) {
                                layer.close(index);
                                window.location.reload();
                            });
                        } else {
                            layer.alert(out.msg, {icon: 5, time: 0})
                        }
                    }, "json");
                }

                return false;
            });

            form.on('switch(sw)', function (data) {
                if (data.elem.checked === true) {
                    $("#panel-all").show();
                    $("#panel-single").hide();
                } else {
                    $("#panel-all").hide();
                    $("#panel-single").show();
                }
            });

            var html = $('.attachment').html();
            $('.add-attach').on('click', function () {
                $('.attachment').append(html);

                var se_c = $('#select_num').val();
                $('#select_num').val(parseInt(se_c) + 1);
                form.render('select');
            });

            form.render();

            $(document).on('click', '.attach-del', function () {
                var se_c = $('#select_num').val();
                $('#select_num').val(parseInt(se_c) - 1);
                $(this).parents('.layui-form-item').remove();
                form.render('select');
            });

            $.post('/server/list', null, function (out) {
                selectSid.update({
                    data: out.data,
                    autoRow: true,
                })
            }, "json");

        });

        var selectSid = xmSelect.render({
            el: '#sids',
            filterable: true,
            toolbar: {
                show: true,
            },
            autoRow: true,
            data: [],
        });

    </script>
{{end}}
