<div style="margin:50px auto;width: 400px;">
    <form class="layui-form" action="" method="post" >
        <div class="layui-form-item">
            <label class="layui-form-label">服务器ID</label>
            <div class="layui-input-inline">
                <input type="text" name="id" id="source_name" lay-verify="required" autocomplete="off" class="layui-input" value="{{.id}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务器名</label>
            <div class="layui-input-inline">
                <input type="text" name="nm" id="source_name" lay-verify="required" autocomplete="off" class="layui-input" value="{{.nm}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">渠道</label>
            <div class="layui-input-inline">
                <input type="text" name="ch" id="channel" lay-verify="required" autocomplete="off" class="layui-input" value="{{.ch}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网关服IP</label>
            <div class="layui-input-inline">
                <input type="text" name="gip" id="source_name" lay-verify="required" autocomplete="off" class="layui-input" value="{{.gip}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">日志服IP</label>
            <div class="layui-input-inline">
                <input type="text" name="lip" id="source_name" lay-verify="required" autocomplete="off" class="layui-input" value="{{.lip}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="text" name="st" id="st" lay-verify="required" autocomplete="off" class="layui-input" value="{{.st}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否推荐</label>
            <div class="layui-input-inline">
                <select name="fg" id="fg" lay-search="">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">等级</label>
            <div class="layui-input-inline">
                <input type="text" name="lv" id="lv" lay-verify="required" autocomplete="off" class="layui-input" value="{{.lv}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{{ define "server/upsert-script"}}
    <script>
        var $;
        layui.use(['form'],function(){
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            var $ = layui.$;
            form.on('submit(sub)', function(data){
                var form_data = data.field;
                $.post('/server/upsert', form_data, function (out) {
                    if (out.status == 0) {
                        layer.msg("操作成功",{icon: 1},function () {
                            window.parent.layer.closeAll();
                            window.parent.location.reload();
                        })
                    } else {
                        layer.msg(out.message)
                    }
                }, "json");
                return false;
            });

            form.render();
        });
    </script>
{{end}}
